<div class="conteiner__big-card">
    
    <div class="big-card__image">
        <img
        src="{{ photoCover }}" 
        alt=""
        height="200px"         
        srcset="">
    </div>
    
    <div class="big-card__title">
    <!--<h1><a [routerLink]="['contente, Id']">{{ cardTitle }}</a></h1> http://localhost:4200/content/1-->
        <h1><a href="content/:id">{{ cardTitle }}</a></h1>     
    </div>
    
    <div class="big-card__description">
        <p>
        <!--<h1><a [routerLink]="['contente, Id']">{{ cardTitle }}</a></h1> http://localhost:4200/content/1-->
            <a href="content/:id">
                {{ cardDescription }}                
            </a>
        </p>
    </div>

</div>
